#articles {
  display: grid;

  & a {
    text-decoration: none;
    color: #000;
  }
}

@media (min-width: 769px) {
  #articles {
    grid-template-columns: 3fr 2fr;
  }
}

#articles__featured {
  display: grid;
  gap: 2rem;
  max-height: 100vh;
  overflow-y: scroll;
}

.articles__featured--listing {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;

  & #listing__textwrapper {
    width: 80%;
  }

  & #listing__textwrapper #listing__title {
    font-weight: 800;
  }

  & #listing__textwrapper #listing__description {
    font-weight: 300;
    color: #5a5a5a;
  }

  & img {
    max-width: 50%;
  }
}

#articles__featured,
#articles__aside {
  list-style-type: none;
  & li {
    padding: 1rem 0;
    border-bottom: 1px solid #000;
  }
}
