#articles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

#articles__featured,
#articles__aside {
  list-style-type: none;

  & a {
    text-decoration: none;
    color: #000;
  }
}

#articles__featured {
  position: relative;
  grid-column: span 12;

  & img {
    max-width: 100%;
  }
}

#articles__aside {
  position: relative;
  grid-column: span 8;
}

.articles__featured--listing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 1rem;

  & #listing__title,
  #listing__description {
    padding-bottom: 0.25rem;
  }

  & #listing__title {
    font-weight: 800;
    padding-bottom: 0.25rem;
  }

  & #listing__description {
    color: #5a5a5a;
  }
}

.articles__aside--listing {
  padding-bottom: 1rem;
}
