#categorybar {
  list-style-type: none;
  padding: 0 2rem;
  display: flex;
  gap: 1rem;
  align-items: baseline;

  & button {
    border: none;
    padding: 1rem 0 0.25rem 0;
    background-color: transparent;
  }

  & #category--active * {
    font-size: 1rem;
    font-weight: 600;
    transition-duration: 100ms;
  }
}
