#header {
  display: grid;
  width: 100%;
}

#top-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#header__title {
  font-size: 4rem;
  font-weight: 800;
  margin: auto;
}

#header__details {
  padding: 2rem;
  font-size: initial;
  font-weight: initial;
  display: grid;
  justify-content: space-between;
}

#top-row,
#header__details {
  padding: 0 2rem;
}
